.main {
  margin: 0;
  display: block;
}

.head-nav{
    background-color: #1a2c79;
}


.menua{

    color: white;
    font-size: 17px;
}
.front-background {
  background-image: url("../img/hero-bg5.jpg");
  height: 1000px;
}

.gradient-overlay {
  z-index: 1;
  width: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  top: -50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.gradient-overlay:before{

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.gradient-overlay:before{

    background: -webkit-gradient(linear,left top, right top, #1a2c79 30%, rgba(22,44,121, 0.18));
    background: linear-gradient(to right, #1a2c79 30%, rgba(22,44,121, 0.18) 100%)
}

.item{

    position: absolute;
    top: 30%;
}
.hero-content{

    display: block;
}

.display-2{
    font-size: 3.875rem;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    line-height: 1.3;
}


.lead{
    color: white;
    font-family: monospace;
    font-size: 21px;
}


.getbutton{
    background-color: #e80566;
    border: none;
}



@media(min-width:1200px){
    .section2{
        position: relative;
        top: -100%;
        z-index: 200;
        padding-bottom: 0px;
        }
.container{

    width: 80%;
    justify-content: center;
}
}


.font-weight-bold{
    font-weight: bold;
}

.icon{

    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bg-default{

    background-color: rgba(26, 44, 121, 0.15);
}

.fancy-radius{

    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
}

.download-section{

    background-image: url(../img/hero-bg11.jpg);
    height: auto;
    background-position: center;
    background-attachment: fixed;
}

.overlay-2{
    z-index: 1;
    width: 100%;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.overlay-2:before{

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.overlay-2:before{

    background: linear-gradient(85deg, rgba(26,44,121, 0.8) 30%, rgba(232,5,102, 0.9) 100%)
}

.rounder{

    border-radius: 42px;
}

.button-link{
    color: white;
    text-decoration: none;
}

.button-link:hover{

    background-color: white;
    color: black;

}

.project-section{

    height: auto;
}

.filter_button{

    border: 2px solid #3f2da7dd;
    background-color: white;
    font-size: 18px;
    margin: 0px 5px;
    color: rgb(40, 40, 158);
    padding: 9px 19px;
    border-radius: 60px;
    width: auto;
}

.filter_button:hover{
    background-color: rgb(53,53,156);
    color: white;
}

.fluid_border{

    border: 14px solid rgb(241, 239, 239);
    border-radius: 20px;
    height: 300px;
}
.portfolio-wrapper {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
  }
  
.portfolio-wrapper .content-overlay{

    background: #1A2C79;
    background: -webkit-gradient(linear, left top, right top, color-stop(2%, #1A2C79), color-stop(82%, #e80566));
    background: linear-gradient(to right, #1A2C79 2%, #e80566 82%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.portfolio-wrapper:hover .content-overlay {
    opacity: 0.8;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .portfolio-wrapper:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  